// Variables


// colors
$dark-gray: #E4E4E4;
$base-gray: #E5E5E5;
$black50: rgba(23,23,23,0.5);
$light-gray: #F5F5F5;
$gray: #C5C5C5;
$black60: rgba(23,23,23,0.6);
$black70: rgba(23,23,23,0.67);
$black80: rgba(23,23,23,0.8);
$black90: rgba(23,23,23,0.9);
$black: #171717;
$dark-orange: #CD6419;
$vivid-red: #A11A43;
$red: #8A1F44;
$orange: #FF8200;
$border: #DCDCDC;

// FONT SIZE
$txt-xl: 1.3rem;
$txt-md: 1rem;
$txt-sm: 0.875rem;
$txt-xs: 0.750rem;
